boto3==1.17.110
botocore==1.20.110
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.0.1
Flask==2.0.1
Flask-Cors==3.0.10
flask-swagger-ui==3.36.0
greenlet==1.1.0
gunicorn==20.1.0
idna==3.4
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
mysqlclient==2.0.3
olefile==0.46
Pillow==8.2.0
pycryptodome==3.10.1
pyminizip==0.2.6
PyMySQL==1.0.2
python-dateutil==2.8.1
pytz==2021.1
PyYAML==6.0
requests==2.28.1
s3transfer==0.4.2
six==1.16.0
SQLAlchemy==1.4.20
tzlocal==2.1
urllib3==1.26.6
Werkzeug==2.0.1
